<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>物流货运平台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,shipper-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>

    <div th:include="common :: common-head"></div>
</head>

<body style="background:url(images/bg.jpg);background-size: cover;backdrop-filter: blur(5px);">
<header th:include="common :: #common-header"></header>

<main role="main">
    <div class="layui-fluid" style="padding-top:60px;">
        <div class="layui-row layui-col-space15">

            <div class="layui-col-md12">

                <div class="layui-card">
                    <div class="layui-card-body ">
                    </div>
                    <div class="layui-card-header">
                        <button type="button" class="btn btn-success" onclick="location.href=('/toAddOrder')">
                            生成运输订单
                        </button>
                    </div>
                    <div class="layui-card-body ">
                        <table class="layui-table layui-form">
                            <thead>
                            <tr>
                                <th>货物名称</th>
                                <th>单价</th>
                                <th>重量</th>
                                <th>运输数量</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="goodsItem : ${allGoodsItem}">
                                <td th:text="${goodsItem.goodsName}"></td>
                                <td th:text="${goodsItem.price}"></td>
                                <td th:text="${goodsItem.weight}"></td>
                                <td th:text="${goodsItem.num}"></td>
                                <td class="td-manage">
                                    <button type="button" class="btn btn-danger"
                                            th:onclick="'javascript:window.location.href=\'' + @{'/deleteGoodsList/'+${goodsItem.goodsId}} + '\';'">删除</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="layui-card-body ">
                        <div class="page">
                            <div>
                                <a class="prev" href="">&lt;&lt;</a>
                                <a class="num" href="">1</a>
                                <span class="current">2</span>
                                <a class="num" href="">3</a>
                                <a class="num" href="">489</a>
                                <a class="next" href="">&gt;&gt;</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<script></script>

</html>
