<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lqyrmk.transportation.mapper.GoodsMapper">

    <!--List<Goods> getAllGoods();-->
    <select id="getAllGoods" resultType="Goods">
        select * from goods
    </select>

    <!--List<Goods> getAllGoodsByInfo(Map<String, Object> infoMap);-->
    <select id="getAllGoodsByInfo" resultType="Goods">
        select * from goods
        <where>
            <if test="priceMin != null and priceMax != null and priceMin != '' and priceMax != ''">
                price >= #{priceMin} and price &lt;= #{priceMax}
            </if>
            <if test="weightMin != null and weightMax != null and weightMin != '' and weightMax != ''">
                and weight >= #{weightMin} and weight &lt;= #{weightMax}
            </if>
            <if test="stockMin != null and stockMax != null and stockMin != '' and stockMax != ''">
                and stock >= #{stockMin} and stock &lt;= #{stockMax}
            </if>
            <if test="keywords != null and keywords != ''">
                and goods_name like '%${keywords}%'
            </if>
        </where>
    </select>

    <!--Goods getGoodsById(@Param("goodsId") Integer goodsId);-->
    <select id="getGoodsById" resultType="Goods">
        select * from goods where goods_id=#{goodsId}
    </select>

    <!--void insertGoods(Goods goods);-->
    <insert id="insertGoods" useGeneratedKeys="true" keyProperty="goodsId">
        insert into goods(`goods_id`, `goods_name`, `price`, `weight`, `stock`)
        values (#{goodsId}, #{goodsName}, #{price}, #{weight}, #{stock})
    </insert>

    <!--void updateGoods(Goods goods);-->
    <update id="updateGoods">
        update goods
        set `goods_name`=#{goodsName}, `price`=#{price}, `weight`=#{weight}, `stock`=#{stock}
        where `goods_id`=#{goodsId}
    </update>

    <!--void deleteGoods(@Param("goodsId") Integer goodsId);-->
    <delete id="deleteGoods">
        delete from goods where goods_id=#{goodsId}
    </delete>

    <!--void updateGoodsStock(@Param("goodsId") Integer goodsId);-->
    <update id="updateGoodsStock">
        update goods
        set stock = stock - 1
        where goods_id=#{goodsId}
    </update>

</mapper>
