<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lqyrmk.transportation.mapper.OrderMapper">

    <resultMap id="orderAndShipperAndCarrierByStepResultMap" type="Order">
        <id column="order_id" property="orderId"></id>
        <result column="shipment_place" property="shipmentPlace"></result>
        <result column="consignee" property="consignee"></result>
        <result column="consignee_phone" property="consigneePhone"></result>
        <result column="destination" property="destination"></result>
        <result column="total_price" property="totalPrice"></result>
        <result column="total_weight" property="totalWeight"></result>
        <!--处理shipper字段-->
        <association property="shipper" fetchType="eager"
                     select="com.lqyrmk.transportation.mapper.ShipperMapper.getOrderAndShipperAndCarrierByOrderIdByStepTwo"
                     column="shipper_id"></association>
        <!--处理carrier字段-->
        <association property="carrier" fetchType="eager"
                     select="com.lqyrmk.transportation.mapper.CarrierMapper.getOrderAndShipperAndCarrierByOrderIdByStepTwo"
                     column="carrier_id"></association>
        <!--处理orderDetailsList字段-->
        <collection property="orderDetailsList" fetchType="eager"
                    select="com.lqyrmk.transportation.mapper.OrderDetailsMapper.getOrderDetailsByOrderId"
                    column="order_id"></collection>
    </resultMap>

    <!--List<Order> getAllOrders();-->
    <select id="getAllOrders"
            resultMap="orderAndShipperAndCarrierByStepResultMap">
        select * from `order`
    </select>

    <!--List<Order> getOrdersByInfo(@Param("keywords") String keywords);-->
    <select id="getOrdersByInfo"
            resultMap="orderAndShipperAndCarrierByStepResultMap">
        select *
        from `order`
        left join `shipper`
            on `order`.shipper_id = `shipper`.shipper_id
        left join `carrier`
            on `order`.carrier_id = `carrier`.carrier_id
        where `shipment_place` like '%${keywords}%'
           or `consignee` like '%${keywords}%'
           or `destination` like '%${keywords}%'
           or `shipper_name` like '%${keywords}%'
           or `carrier_name` like '%${keywords}%'
    </select>

    <!--Order getOrderById(@Param("orderId") Integer orderId);-->
    <select id="getOrderById" resultType="Order">
        select * from `order` where order_id = #{orderId}
    </select>

    <!--Order getOrderAndShipperAndCarrierByOrderIdByStepOne(@Param("orderId") Integer orderId);-->
    <select id="getOrderAndShipperAndCarrierByOrderIdByStepOne"
            resultMap="orderAndShipperAndCarrierByStepResultMap">
        select * from `order` where order_id = #{orderId}
    </select>

    <!--List<Order> getShipperAndOrderByShipperIdByStepTwo(@Param("shipperId") Integer shipperId);-->
    <select id="getShipperAndOrderByShipperIdByStepTwo" resultType="Order">
        select * from `order` where shipper_id = #{shipperId}
    </select>


    <!--void insertOrder(Order order);-->
    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into `order`(`order_id`, `shipper_id`, `carrier_id`, `shipment_place`, `consignee`, `consignee_phone`, `destination`, `total_weight`, `total_price`)
        values (#{orderId}, #{shipper.shipperId}, #{carrier.carrierId}, #{shipmentPlace}, #{consignee}, #{consigneePhone}, #{destination}, #{totalWeight}, #{totalPrice})
    </insert>

    <!--void updateOrder(Order order);-->
    <update id="updateOrder">
        update `order`
        set `shipper_id`=#{shipper.shipperId}, `carrier_id`=#{carrier.carrierId}, `shipment_place`=#{shipmentPlace},
            `consignee`=#{consignee}, `consignee_phone`=#{consigneePhone}, `destination`=#{destination},
            `total_weight`=#{totalWeight}, `total_price`=#{totalPrice}, `state`=#{state}
        where `order_id`=#{orderId}
    </update>

    <!--void deleteOrder(@Param("orderId") Integer orderId);-->
    <delete id="deleteOrder">
        delete from `order` where order_id=#{orderId}
    </delete>

    <!--void updateOrderPriceAndWeight(Order order);-->
    <update id="updateOrderPriceAndWeight">
        update `order`
        set `total_price`=#{totalPrice}, `total_weight`=#{totalWeight}
        where `order_id` = #{orderId}
    </update>

</mapper>
