<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lqyrmk.transportation.mapper.ShipperMapper">

    <!--Shipper getShipperByShippernameAndPassword(@Param("shipperName") String shipperName, @Param("password") String password);-->
    <select id="getShipperByShippernameAndPassword" resultType="Shipper">
        select * from shipper where shipper_name = #{shipperName} and password = #{password}
    </select>

    <!--Shipper getShipperById(@Param("shipperId") Integer shipperId);-->
    <select id="getShipperById" resultType="Shipper">
        select * from shipper where shipper_id = #{shipperId}
    </select>

    <!--Shipper getShipperByName(@Param("shipperName") String shipperName);-->
    <select id="getShipperByName" resultType="Shipper">
        select * from shipper where shipper_name = #{shipperName}
    </select>

    <resultMap id="shipperAndOrderResultMap" type="Shipper">
        <id column="shipper_id" property="shipperId"></id>
        <result column="shipper_name" property="shipperName"></result>
        <result column="password" property="password"></result>
        <result column="gender" property="gender"></result>
        <result column="email" property="email"></result>
        <result column="phone" property="phone"></result>
        <!--处理orders字段-->
        <collection property="orders"
                    select="com.lqyrmk.transportation.mapper.OrderMapper.getShipperAndOrderByShipperIdByStepTwo"
                    column="shipper_id"></collection>
    </resultMap>

    <!--Shipper getShipperAndOrderByShipperIdByStepOne(@Param("shipperId") Integer shipperId);-->
    <select id="getShipperAndOrderByShipperIdByStepOne"
            resultMap="shipperAndOrderResultMap">
        select * from shipper where shipper_id = #{shipperId}
    </select>

    <!--Shipper getOrderAndShipperAndCarrierByOrderIdByStepTwo(@Param("shipperId") Integer shipperId);-->
    <select id="getOrderAndShipperAndCarrierByOrderIdByStepTwo" resultType="Shipper">
        select * from shipper where shipper_id = #{shipperId}
    </select>

    <!--void insertShipper(Shipper shipper);-->
    <insert id="insertShipper">
        insert into shipper (`shipper_name`, `password`)
        values (#{shipperName}, #{password})
    </insert>

</mapper>
