<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>物流货运平台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,shipper-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>

    <div th:include="common :: common-head"></div>
</head>

<body style="background:url(images/bg.jpg);background-size: cover;backdrop-filter: blur(5px);">
<header th:include="common :: #common-header"></header>

<main role="main">
    <div class="layui-fluid" style="padding-top:60px;">
        <div class="layui-row layui-col-space15">

            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body" style="height: 500px">
                        <form th:action="@{/getOrderInfo}" method="get">
                            <h3 th:text="${order.orderId + '号订单详情：'}"></h3>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationDefault01">收货人姓名</label>
                                    <input type="text" name="consignee" class="form-control" readonly
                                           id="validationDefault01" th:value="${order.consignee}"
                                           required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationDefault02">收货人电话</label>
                                    <input type="text" name="consigneePhone" class="form-control" readonly
                                           id="validationDefault02" th:value="${order.consigneePhone}"
                                           required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationDefault03">托运人id</label>
                                    <input type="text" name="shipperId" class="form-control" readonly
                                           id="validationDefault03" th:value="${order.shipper.shipperId}"
                                           required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationDefault04">托运人姓名</label>
                                    <input type="text" name="shipperId" class="form-control" readonly
                                           id="validationDefault04" th:value="${order.shipper.shipperName}"
                                           required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationDefault05">承运人id</label>
                                    <input type="text" name="carrierId" class="form-control" readonly
                                           id="validationDefault05" th:value="${order.carrier.carrierId}"
                                           required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationDefault06">承运人姓名</label>
                                    <input type="text" name="carrierId" class="form-control" readonly
                                           id="validationDefault06" th:value="${order.carrier.carrierName}"
                                           required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationDefault07">发货地</label>
                                    <input type="text" name="shipmentPlace" class="form-control" readonly
                                           id="validationDefault07" th:value="${order.shipmentPlace}"
                                           required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationDefault08">目的地</label>
                                    <input type="text" name="destination" class="form-control" readonly
                                           id="validationDefault08" th:value="${order.destination}"
                                           required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationDefault09">运输货物</label>
                                    <input type="text" name="goodsInfo" class="form-control" readonly
                                           id="validationDefault09" th:value="${orderDetails}"
                                           required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationDefault10">运输重量</label>
                                    <input type="text" name="totalWeight" class="form-control" readonly
                                           id="validationDefault10" th:value="${order.totalWeight}"
                                           required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationDefault11">运输总价</label>
                                    <input type="text" name="totalPrice" class="form-control" readonly
                                           id="validationDefault11" th:value="${order.totalPrice}"
                                           required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationDefault12">订单状态</label>
                                    <input type="text" name="state" class="form-control" readonly
                                           id="validationDefault12" th:value="${order.state}"
                                           required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <button class="btn btn-info" type="submit">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>
</main>
</body>
<script>
</script>

</html>
